.contato {
  height: 450px;
  background: url("../img/bg-contato2500.jpg") no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.contato::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 250px;
  height: 250px;
  background-image: url("../../img/detalhes.svg");
  top: -255px;
  opacity: 0.4;
  left: 10px;
  z-index: -1;
}

.contato h3 {
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
}

.historia-content.contato-content a {
  color: white;
  margin-top: 16px;
  justify-self: center;
  padding: 8px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  background: linear-gradient(180deg, #513f94 0%, #3a297b 100%);
}

@media (max-width: 1590px) {
  .contato {
    background: url("../img/bg-contato.jpg") no-repeat center center;
  }
}
