.footer {
  width: 100%;
  background: #161b20;
  position: relative;
}

.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1050px;
  gap: 32px;
  margin: 0 auto;
  padding: 32px 20px;
}

.footer-info nav ul li a {
  cursor: pointer;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: block;
  font-size: 0.875rem;
  color: #a4b5c6;
  text-transform: uppercase;
}
.footer-info nav ul li a:hover {
  color: #c3ced9;
}

.footer-endereco {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.midia-img {
  width: 40px;
}

.endereco {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
}

.midias h4,
.endereco h4 {
  font-weight: 500;
  font-size: 0.875rem;
  color: #c3ced9;
  margin-bottom: 8px;
}
.endereco p {
  max-width: 40ch;
  font-size: 0.75rem;
  color: #a4b5c6;
}

.footer-direitos {
  max-width: 1050px;
  margin: 0 auto;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-direitos p {
  line-height: 1.5;
  font-size: 0.75rem;
  max-width: 46ch;
  color: #a4b5c6;
}

.footer-direitos p a {
  font-weight: 700;
  color: #a4b5c6;
  transition: 0.3s;
}

.footer-direitos p a:hover {
  font-weight: 700;
  color: #c3ced9;
}
.footer-direitos button[data-footer="top"] {
  border: 1px solid rgba(164, 181, 198, 0.3);
  transition: 0.3s;
  background: none;
  border-radius: 8px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4b5c6;
  position: relative;
  padding: 16px 16px 16px 16px;
  font-size: 0.875rem;
  cursor: pointer;
}

[data-footer="top"] img {
  cursor: pointer;
  padding-left: 16px;
}

.footer-direitos button:hover {
  background: #2c4661;
}

.line {
  height: 1px;
  width: 100%;
  background: #2c4661;
}

@media (max-width: 769px) {
  .footer-info {
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  .footer-info ul {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    padding-left: 0;
    font-weight: 700;
  }
  .footer-info nav ul li a {
    font-size: 0.875rem;
    margin: 0 10px 0 0;
  }

  .footer-endereco {
    gap: 16px;
    grid-column: 2;
  }

  .midias h4,
  .endereco h4 {
    font-weight: 400;
    font-size: 0.875rem;
  }
}

@media (max-width: 580px) {
  .footer-info {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .footer-info ul {
    flex-wrap: wrap;
  }

  .footer-img-logo {
    width: 100%;
  }
  .footer-img-logo img {
    max-width: 100%;
    display: block;
  }
  .midias h4,
  .endereco h4 {
    width: 100%;
  }
  .endereco {
    display: block;
    width: 100%;
  }

  .footer-direitos {
    padding: 32px 20px;
  }

  .footer-direitos p {
    font-size: 0.75rem;
    max-width: 25ch;
  }
}
