.historia.container {
  padding: 0;
}

.historia {
  margin-top: -128px;
  display: flex;
  gap: 48px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.img-simples {
  width: 50%;
}

.img-simples img {
  max-width: 100%;
  display: block;
  border-radius: 4px 0 0 4px;
}

.historia-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  align-content: flex-start;
}

.historia-content h2 {
  color: #112233;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.historia-content h2::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 3px;
  background: #261466;
  margin-right: 4px;
  transition: 0.3s;
}

.historia:hover .historia-content h2::before,
.servicos-box:hover .historia-content h2::before {
  width: 32px;
}

.servicos-box:hover .historia-content h2::after {
  width: 32px;
}

.historia-content p {
  max-width: 50ch;
  line-height: 1.5;
  color: #2c4661;
  padding-right: 20px;
}

.btn-simples {
  justify-self: left;
  margin-top: 16px;
  margin-bottom: 32px;
  padding: 8px 16px;
  text-transform: uppercase;
  font-size: 0.75rem;
  border: none;
  transition: 0.3s;
  border-radius: 2px;
  color: #112233;
  font-weight: 700;
  background: linear-gradient(180deg, #c3ced9 0%, #b7c1cc 100%);
}

.historia-content a:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 910px) {
  .historia-content p {
    font-size: 0.875rem;
  }
  .historia-content h2 {
    font-size: 1.2rem;
  }
  .historia-content {
    gap: 8px;
  }

  .btn-simples {
    padding: 6px 12px;
    font-size: 0.625rem;
    margin-bottom: 0px;
  }
  .historia {
    gap: 32px;
  }
}

@media (max-width: 769px) {
  .historia {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .btn-simples {
    margin-bottom: 32px;
  }

  .historia-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .historia-content h2 {
    margin: 0;
    padding: 0 20px;
    font-size: 1.5rem;
  }

  .historia-content p {
    max-width: 100%;
    padding: 0 20px;
    font-size: 0.875rem;
  }

  .historia-content h2::before {
    display: none;
  }

  .historia-content a {
    position: relative;
    margin-left: 20px;
    margin-top: 16px;
    justify-self: flex-start;
    font-size: 0.75rem;
  }
  .img-simples {
    width: 80%;
    margin: -128px auto 0 auto;
  }

  .img-simples img {
    border-radius: 4px 4px 4px 4px;
  }
}

@media (max-width: 500px) {
  .img-simples {
    width: 90%;
  }
}
