.intro {
  height: 800px;
  background: url("../img/bg-intro2500.jpg") no-repeat center center;
  position: relative;
}
.intro::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 250px;
  height: 250px;
  background-image: url("../../img/detalhes.svg");
  bottom: -255px;
  opacity: 0.4;
  right: 10px;
  z-index: -1;
  rotate: 180deg;
}

.content-intro {
  padding-top: calc(60px + 128px);
}

.content-intro h1,
.content-intro p {
  color: #f0f4f7;
}
.content-intro h1 {
  font-size: 5rem;
  max-width: 17ch;
  line-height: 100%;
}

.content-intro p {
  max-width: 74ch;
  margin-top: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.125rem;
}

@media (max-width: 1590px) {
  .intro {
    background: url("../img/bg-intro.jpg") no-repeat center center;
  }
}
@media (max-width: 769px) {
  .display-none {
    display: none;
  }
  .content-intro {
    padding-top: calc(60px + 64px);
  }
  .content-intro h1 {
    font-size: 2.5rem;
  }
  .content-intro p {
    font-size: 0.875rem;
  }
  .intro {
    height: 600px;
    background: url("../img/bg-intro.jpg") no-repeat center right -260px;
  }
}

@media (max-width: 500px) {
  .content-intro {
    padding-top: calc(60px + 16px);
  }
}
