.servicos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin-bottom: 64px;
}

.servicos-box.historia {
  margin-top: 0;
}

.servicos-box img {
  border-radius: 4px 0 0 4px;
}

.servicos-box:nth-child(2) img {
  border-radius: 0px 4px 4px 0px;
}

.servicos-box:nth-child(2) {
  justify-content: flex-end;
}

.historia-content.servicos-content h2 {
  justify-content: flex-end;
}
.historia-content.servicos-content h2::before {
  display: none;
}
.historia-content.servicos-content h2::after {
  content: "";
  display: inline-block;
  transition: 0.3s;
  width: 12px;
  height: 3px;
  background: #261466;
  margin-left: 4px;
}
.historia-content.servicos-content p {
  text-align: end;
  padding-right: 0;
  padding-left: 20px;
}

.btn-simples.btn-meio {
  justify-self: flex-end;
}

@media (max-width: 769px) {
  .servicos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 32px;
  }

  .servicos-box.historia .img-simples {
    width: 100%;
    margin: 0 auto 0 auto;
    border-radius: 4px 4px 4px 4px;
  }
  .servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .servicos-box.historia:nth-child(2) .img-simples {
    grid-row: 1;
  }

  .servicos-box.historia:nth-child(3) {
    grid-column: 1 / -1;
  }

  .servicos-box.historia:nth-child(3) .img-simples img {
    margin: 32px auto 0 auto;
  }

  .historia-content.servicos-content p {
    text-align: start;
    padding-right: 20px;
    padding-left: 20px;
  }
  .historia-content.servicos-content h2::after {
    display: none;
  }

  .historia-content.servicos-content h2 {
    justify-content: flex-start;
  }

  .historia-content.servicos-content .btn-simples.btn-meio {
    justify-self: flex-start;
  }

  .servicos-box img {
    border-radius: 4px 4px 0px 0px;
  }

  .servicos-box:nth-child(2) img {
    border-radius: 4px 4px 0px 0px;
  }
  .servicos-box:nth-child(3) img {
    border-radius: 4px 4px 4px 4px;
  }
}

@media (max-width: 500px) {
  .servicos {
    display: grid;
    grid-template-columns: 1fr;
  }
  .servicos-box.historia:nth-child(3) .img-simples img {
    margin: 0px auto 0 auto;
  }
  .servicos-box:nth-child(3) img {
    border-radius: 4px 4px 0px 0px;
  }
}
