.produtos-sobre .produto {
  padding: 64px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  justify-items: center;
}
.produtos-box {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background: white;
  border-radius: 0 0 4px 4px;
}

.produtos-box img {
  border-radius: 4px 4px 0 0;
}

.produtos-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
  position: relative;
}

.produtos-content h2 {
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: #112233;
}

.produtos-content h2::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  background: #261466;
  margin-right: 4px;
  transition: 0.3s;
}

.produtos-box:hover .produtos-content h2::before {
  width: 16px;
}

.produtos-content p {
  font-size: 0.8125rem;
  line-height: 1.5;
  color: #2c4661;
}

.produtos-content a {
  margin-top: 32px;
  padding: 8px 16px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.75rem;
  border-radius: 2px;
  border: none;
  color: #2c4661;
  transition: 0.3s;
  background: linear-gradient(180deg, #c3ced9 0%, #b7c1cc 100%);
}

.produtos-content a:hover {
  color: #112233;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
  .produtos-sobre .produto {
    gap: 16px;
    grid-template-columns: 1fr 1fr;
  }
  .produtos-box:nth-child(3) {
    border-radius: 4px 4px 4px 4px;
    grid-column: 1/-1;
  }
  .produtos-box:nth-child(3) .img-simgle {
    border-radius: 4px 4px 4px 4px;
    margin: 16px auto 0 auto;
  }
  .produtos-box:nth-child(3) .img-simgle img {
    border-radius: 4px 4px 4px 4px;
  }
}

@media (max-width: 700px) {
  .produtos-sobre .produto {
    gap: 16px;
    grid-template-columns: 1fr;
  }
  .produtos-box .img-simgle {
    margin: 16px auto 0 auto;
  }
  .produtos-box .img-simgle img {
    border-radius: 4px 4px 4px 4px;
  }
}

@media (max-width: 600px) {
  .produtos-box .img-simgle {
    margin: 0px auto 0 auto;
  }
  .produtos-box:nth-child(3) .img-simgle {
    margin: 0px auto 0 auto;
  }
}
@media (max-width: 500px) {
  .produtos-sobre .produto {
    padding: 64px 10px;
  }
}
