.bg-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 700;
  color: #f0f4f7;
  width: 100%;
  height: 400px;
  background: url("../../img/bg-contato2500-contato.jpg") no-repeat -300px 0;
}
@media (max-width: 1050px) {
  .bg-contato {
    background: url("../../img/bg-contato-contato.jpg") no-repeat -500px 0;
  }
}
