.automacao-produtos.container {
  display: grid;
  grid-template-columns: calc(284px + 64px) 1fr;
  margin: 0 auto;
  max-width: 1280px;
}

.sobre.container.produtos {
  padding: 0 20px;
}

.automacao-produtos-lista {
  display: grid;
  grid-template-columns: 150px 150px;
  gap: 16px;
  align-content: flex-start;
  margin-bottom: 64px;
}

.automacao-produtos-lista li a {
  display: flex;
  height: 50px;
  background: #2b4661;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 700;
  line-height: 1.5;
  padding: 10px;
  color: #fff;
}

.automacao-produtos-lista li a.active {
  background: #161b20;
}

.automacao-produtos-lista li:hover {
  background: #161b20;
}

.js [data-tab="content"] .automacao-produtos-section {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  gap: 32px;
  align-content: flex-start;
  font-size: 0.75rem;
  line-height: 1.5;
  background: #fff;
  margin-bottom: 64px;
  border-radius: 4px;
  height: calc(100% - 64px);
  justify-content: space-evenly;
}

.js [data-tab="content"] .automacao-produtos-section.active {
  display: flex;
  animation: mostrar 0.6s forwards;
}

@keyframes mostrar {
  from {
    transform: translate3d(-30px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/* .automacao-produtos-box + .automacao-produtos-box {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 16px;
} */

.automacao-produtos-box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 4px;
  align-self: flex-start;
}

.automacao-produtos-box h3 {
  font-size: 1.125rem;
  color: #0b0d0f;
}

.automacao-produtos-box-content h4 {
  color: #2c4661;
  font-size: 0.875rem;
  font-weight: 400;
}

.automacao-produtos-box-content li {
  font-size: 0.875rem;
  display: flex;
  margin-left: 14px;
  margin-top: 4px;
  min-width: 100%;
  align-items: center;
  color: #2c4661;
}

.automacao-produtos-box-content li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 1px;
  margin-right: 12px;
  background-color: rgba(0, 0, 0, 0.3);
}
.automacao-produtos-box-content-img {
  display: flex;
  gap: 32px;
}

.automacao-produtos-box-content img {
  max-width: 360px;
  margin: 32px auto 0 auto;
  border-radius: 4px;
  align-self: flex-start;
}
.automacao-produtos-box-content iframe {
  margin: 32px auto 0 auto;
  border-radius: 4px;
}

.automacao-produtos-box-content-simulador3D p {
  margin-top: 8px;
  color: #2c4661;
  font-size: 0.875rem;
}

[data-tab="title"] {
  display: none;
}

@media (max-width: 1210px) {
  .automacao-produtos.container {
    grid-template-columns: 1fr;
  }
  .automacao-produtos-lista {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 74px;
  }
  .automacao-produtos-section {
    position: relative;
  }

  [data-tab="title"] {
    display: block;
    position: absolute;
    top: -45px;
    left: 00px;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
  }
}
@media (max-width: 900px) {
  .automacao-produtos-lista {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 32px;
  }
  .automacao-produtos-box-content-img {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media (max-width: 769px) {
  .js [data-tab="content"] .automacao-produtos-section {
    margin-bottom: 32px;
    height: calc(100% - 32px);
  }
}

@media (max-width: 500px) {
  .automacao-produtos-lista {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 74px;
  }
  .automacao-produtos-box-content-img {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
  .automacao-produtos-box-content img {
    max-width: 100%;
  }
}
